<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.jdt.ui.foldingStructureProviders">
		<provider
			id="com.github.elucash.lambda4jdt.foldingStructureProvider"
			name="Lambda4jdt Folding"
			class="com.github.elucash.lambda4jdt.FoldingStructureProvider">
		</provider>
	</extension>

</plugin>
