<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.jdt.ui.foldingStructureProviders">
		<provider
			id="com.github.elucash.lambda4jdt.foldingStructureProvider"
			name="Lambda4jdt Folding provider"
			class="com.github.elucash.lambda4jdt.FoldingStructureProvider">
		</provider>
	</extension>
	
	<extension
		point="org.eclipse.jdt.ui.foldingStructureProviders">
		<provider
			id="com.github.elucash.lambda4jdt.javaStyleClosuresProvider"
			name="Lambda4jdt JavaStyle Closures"
			class="com.github.elucash.lambda4jdt.JavaStyleClosuresFoldingProvider">
		</provider>
	</extension>

</plugin>
